$text-color: var(--color-light);
$icons: (
  project: "/assets/project.svg",
  version: "/assets/version.svg",
  makers: "/assets/team.svg",
  snippets: "/assets/snippets.svg"
);
.nav {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  background: var(--dashboard-bg-darker);
  border-radius: 16px 16px 0 0;
  li {
    padding-right: 10px;
    color: var(--color-main);
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    &:last-child {
      padding-right: 0;
    }
  }
  &-link {
    color: var(--color-main);
    padding-left: 5px;
    padding-right: 5px;
    &:hover {
      text-decoration: underline;
    }
  }
  @each $key, $val in $icons {
    .#{$key}::before {
      margin-right: 0.5rem;
      vertical-align: middle;
      content: url(#{$val});
    }
  }
}

.button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 50px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  background: var(--color-success);
  color: var(--color-dark);
  box-shadow: 0 6px var(--color-data-4);
  transition: none;
  border-radius: 0 0 5px 5px;
  &:hover {
    box-shadow: 0 4px var(--color-data-4);
    top: 2px;
  }
  &:active {
    box-shadow: 0 0 var(--color-data-4);
    top: 6px;
  }
  &:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  } // &.primary {
  //     background: var(--color-blue);
  //     color: var(--color-main);
  // }
}
